/* Write your CSS here */
.money-detailsList-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  height: 20vh;
  width: 100%;
}
.details-image {
  height: 6vh;
}
.md-con {
  width: 30%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}
.balance-con {
  border: 1px solid #84cc16;
  background-color: #ecfccb;
}
.income-con {
  border: 1px solid #06b6d4;
  background-color: #cffafe;
}
.expenses-con {
  border: 1px solid #7c3aed;
  background-color: #ede9fe;
}
p {
  margin-bottom: 10px;
}